```
# Compiled/binary files
*.o
*.obj
*.out

# Executables
geopixel_final
geopixel_ultra
```
*.gp7
*.gp8
*.gp9
Img_Encoder/geopixel_v9
Img_Encoder/geopixel_v7
Img_Encoder/geopixel_v8
/open-design
collection/zip/Replit_design/Asset-Creator/
*.pyc
collection.zip
